In [1]:

# Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
#import missingno as msno
from scipy import stats

import numpy as np
import datetime
import seaborn as sns
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# Import DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
# Import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

# Import precision_score
from sklearn.metrics import precision_score

from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation


# Import necessary modules
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score



# Import recall_score
from sklearn.metrics import recall_score

#from sklearn.metrics import roc_auc_curve
# Import roc_curve
from sklearn.metrics import roc_curve



from sklearn.svm import SVC

# Import confusion matrix
from sklearn.metrics import confusion_matrix

from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
#import pydotplus



# Import train_test_split
from sklearn.model_selection import train_test_split

# Import LogisticRegression
from sklearn.linear_model import LogisticRegression


from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation



import scipy.stats as st
#import pandas_profiling
import requests 
%matplotlib inline

In [2]:
# Semester Start Date:
StartDate = '2018-09-17' 
StartDate = pd.to_datetime(StartDate)

In [3]:
# Semester End Date:
EndDate = '2019-01-21' 
EndDate = pd.to_datetime(EndDate)

In [4]:
TriOne = '2018-10-22'
TriOne = pd.to_datetime(TriOne)

In [5]:
TriTwo = '2018-11-26'
TriTwo = pd.to_datetime(TriTwo)

In [7]:
# Begin8
# There are three files in Module 8.It has weeks and labs and assignment uploads.The class size is small though with only 11 student final grades.
# 9 Students have passed and 2 student failed this module.
#

In [8]:
# Begin8 - START OF MODULE 8
# 3 FILEES in MODULE 8
# m8mg,m8ml
# Own grades and module logs

In [9]:
# Data Preperation Module 8
#
# Module 8

module8ml = pd.read_csv('Module8-MoodleLogs.csv')

In [10]:
module8mg = pd.read_csv('Module8-MoodleGrades.csv')

In [12]:
module8og = pd.read_csv('Module8-OwnGrades.csv')

In [13]:
print (module8og.columns.tolist())

['ID number', 'First Name', 'Surname', 'CA Mark', 'CA Mark/100', 'Exam Mark', 'Final Mark', 'Final Mark (Rounded)', 'Final Grade']

In [14]:
print (module8mg.columns.tolist())

['First name', 'Surname', 'ID number', 'Email address', 'Labs (Real)', 'Quiz: CA1 - Quiz - 15% CA (Real)', 'Assignment: CA2 - Lab Test - Screen Shot File UPLOAD (Real)', 'Course total (Real)', 'Last downloaded from this course']

In [15]:
# Print the number of unique values in each modul8ml column
print(module8ml.nunique())

Time              952
User full name     11
Affected user       1
Event context      40
Component           9
Event name         23
Description        35
Origin              1
IP address          1
dtype: int64

In [16]:
# Print the number of unique values in each modul8og column
print(module8og.nunique())

ID number               11
First Name              11
Surname                 11
CA Mark                 11
CA Mark/100             11
Exam Mark               11
Final Mark              11
Final Mark (Rounded)    11
Final Grade              6
dtype: int64

In [17]:
# Print the number of unique values in each modul8mgl column
print(module8ml.nunique())

Time              952
User full name     11
Affected user       1
Event context      40
Component           9
Event name         23
Description        35
Origin              1
IP address          1
dtype: int64

In [18]:
# Cleanup8
#
#

In [19]:
#time8
time8 = module8ml["Time"].str.split(",", n = 1, expand = True)

In [20]:

# making separate Date column from new data frame 
module8ml["Date"]= time8[0] 

# making seperate Time column from new data frame
module8ml['Time']= time8[1]

In [21]:
# Convert the date column to datetime64
module8ml.Date = pd.to_datetime(module8ml.Date)

In [22]:
len(module8ml)

1759

In [23]:
#Timeedit8
mask8 = (module8ml['Date'] >= StartDate) & (module8ml['Date'] <= EndDate)

module8ml = module8ml.loc[mask8]

len(module8ml)

1026

In [24]:
#Remove activity outside semester start and end dates range -Timeedit1
week5_8 = (module8ml['Date'] >= StartDate) & (module8ml['Date'] <= TriOne)

FirstFive8 = module8ml.loc[week5_8]

len(FirstFive8)

292

In [25]:
#Remove activity outside semester start and end dates range -Timeedit1
week10_8 = (module8ml['Date'] >= TriOne) & (module8ml['Date'] <= TriTwo)

FirstTen8 = module8ml.loc[week10_8]

len(FirstTen8)

297

In [26]:
#Remove activity outside semester start and end dates range -Timeedit1
week15_8 = (module8ml['Date'] >= TriTwo) & (module8ml['Date'] <= EndDate)

FirstFivt8 = module8ml.loc[week15_8]

len(FirstFivt8)

441

In [27]:
module8ml.dtypes

Time                      object
User full name            object
Affected user             object
Event context             object
Component                 object
Event name                object
Description               object
Origin                    object
IP address                object
Date              datetime64[ns]
dtype: object

In [28]:
module8ml = module8ml.drop(module8ml[['IP address','Origin','Description','Affected user']], axis=1)

In [29]:
module8ml.head(2)

,Time,User full name,Event context,Component,Event name,Date
15,12:33,azCY bvQB,Course: Module 8,System,Course viewed,2019-01-21
16,00:15,aa14 bMdv,Course: Module 8,User report,Grade user report viewed,2019-01-19

In [30]:
# new data frame with split value columns 
new8 = module8ml["User full name"].str.split(" ", n = 1, expand = True)

In [31]:
# making separate first name column from new data frame 
module8ml["First name"]= new8[0] 

# making separate last name column from new data frame 
module8ml["Last name"]= new8[1]

In [32]:
module8ml.head(2)

,Time,User full name,Event context,Component,Event name,Date,First name,Last name
15,12:33,azCY bvQB,Course: Module 8,System,Course viewed,2019-01-21,azCY,bvQB
16,00:15,aa14 bMdv,Course: Module 8,User report,Grade user report viewed,2019-01-19,aa14,bMdv

In [33]:
module8ml_onehot = module8ml.copy()
module8ml_onehot = pd.get_dummies(module8ml_onehot, columns=['Event name'], prefix = ['Event name'])
module8ml_onehot = pd.get_dummies(module8ml_onehot, columns=['Event context'], prefix = ['Event context'])
module8ml_onehot = pd.get_dummies(module8ml_onehot, columns=['Component'], prefix = ['Component'])


print(module8ml_onehot.head())

      Time User full name       Date First name Last name  \
15   12:33      azCY bvQB 2019-01-21       azCY      bvQB
16   00:15      aa14 bMdv 2019-01-19       aa14      bMdv
17   00:07      aa14 bMdv 2019-01-19       aa14      bMdv
18   20:41      azCY bvQB 2019-01-18       azCY      bvQB
19   18:08      azCY bvQB 2019-01-18       azCY      bvQB

    Event name_A file has been uploaded.  \
15                                     0
16                                     0
17                                     0
18                                     0
19                                     0

    Event name_A submission has been submitted.  \
15                                            0
16                                            0
17                                            0
18                                            0
19                                            0

    Event name_Badge listing viewed  Event name_Course module viewed  \
15                                0                                0
16                                0                                0
17                                0                                0
18                                0                                0
19                                0                                0

    Event name_Course user report viewed          ...            \
15                                     0          ...
16                                     0          ...
17                                     0          ...
18                                     1          ...
19                                     0          ...

    Event context_URL: URL  Component_Assignment  Component_File  \
15                       0                     0               0
16                       0                     0               0
17                       0                     0               0
18                       0                     0               0
19                       0                     0               0

    Component_File submissions  Component_Forum  Component_Overview report  \
15                           0                0                          0
16                           0                0                          0
17                           0                0                          0
18                           0                0                          0
19                           0                0                          0

    Component_Quiz  Component_System  Component_URL  Component_User report
15               0                 1              0                      0
16               0                 0              0                      1
17               0                 1              0                      0
18               0                 1              0                      0
19               0                 1              0                      0

[5 rows x 72 columns]

In [34]:
module8ml_onehot.head(2)

,Time,User full name,Date,First name,Last name,Event name_A file has been uploaded.,Event name_A submission has been submitted.,Event name_Badge listing viewed,Event name_Course module viewed,Event name_Course user report viewed,...,Event context_URL: URL,Component_Assignment,Component_File,Component_File submissions,Component_Forum,Component_Overview report,Component_Quiz,Component_System,Component_URL,Component_User report
15,12:33,azCY bvQB,2019-01-21,azCY,bvQB,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,00:15,aa14 bMdv,2019-01-19,aa14,bMdv,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [35]:
#
#
#

In [37]:
m8og_subset.head(2)

NameError: name 'm8og_subset' is not defined

In [38]:
m8mg_subset.head(2)

NameError: name 'm8mg_subset' is not defined