In [1]:

# Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
#import missingno as msno
from scipy import stats

import numpy as np
import datetime
import seaborn as sns
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# Import DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
# Import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

# Import precision_score
from sklearn.metrics import precision_score

from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation


# Import necessary modules
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score



# Import recall_score
from sklearn.metrics import recall_score

#from sklearn.metrics import roc_auc_curve
# Import roc_curve
from sklearn.metrics import roc_curve



from sklearn.svm import SVC

# Import confusion matrix
from sklearn.metrics import confusion_matrix

from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
#import pydotplus



# Import train_test_split
from sklearn.model_selection import train_test_split

# Import LogisticRegression
from sklearn.linear_model import LogisticRegression


from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation



import scipy.stats as st
#import pandas_profiling
import requests 
%matplotlib inline

In [2]:
# Semester Start Date:
StartDate = '2018-09-17' 
StartDate = pd.to_datetime(StartDate)

In [3]:
# Semester End Date:
EndDate = '2019-01-21' 
EndDate = pd.to_datetime(EndDate)

In [4]:
TriOne = '2018-10-22'
TriOne = pd.to_datetime(TriOne)

In [5]:
TriTwo = '2018-11-26'
TriTwo = pd.to_datetime(TriTwo)

In [7]:
#BEGIN7
#Will use own grades and moodle logs to merge
# Module 7 has weeks and 14 students grades.14 passed the module with 0 failures.
#Module 7 is a 2nd year group and would be considered more mature and settled.
#The class sizes are very small (<15).Module 7 has two continuous assessments.
#
#

In [6]:
# Begin7 Data Preperation Module 7
# 3 Files in Module 7
# Module 7

module7ml = pd.read_csv('Module7-MoodleLogs.csv')

In [8]:
module7mg = pd.read_csv('Module7-MoodleGrades.csv')

In [9]:
module7og = pd.read_csv('Module7-OwnGrades.csv')

In [10]:
print (module7mg.columns.tolist())

['First name', 'Surname', 'ID number', 'Email address', 'CA2 - Practical Exam (Real)', 'Quiz: CA3 - Theory Test (Real)', 'Last downloaded from this course']

In [11]:
# Print the number of unique values in each modul7mg column
print(module7mg.nunique())

First name                          14
Surname                             14
ID number                           14
Email address                       14
CA2 - Practical Exam (Real)         14
Quiz: CA3 - Theory Test (Real)      14
Last downloaded from this course     1
dtype: int64

In [12]:
print (module7og.columns.tolist())

['ID number', 'First Name', 'Surname', 'Total CA Mark / 100', 'Final Grade', 'CA1 Report / 20', 'CA2 Lab Test / 35', 'CA3 Theory Test / 35', 'Labs CA / 10', 'Wk1-Lab', 'Wk1-Lecture', 'Wk2-CA / 1', 'Wk2-Lab', 'Wk2-Lecture', 'Wk3-CA / 1', 'Wk3-Lab', 'Wk3-Lecture', 'Wk4-CA / 1', 'Wk4-Lab', 'Wk4-Lecture', 'Wk5-CA / 1.5', 'Wk5-Lab', 'Wk5-Lecture', 'Wk6-CA / 1', 'Wk6-Lab', 'Wk6-Lecture', 'Wk7-CA / 1', 'Wk7-Lab', 'Wk7-Lecture', 'Wk8-CA / 1.5', 'Wk8-Lab', 'Wk8-Lecture', 'Wk9-CA2', 'Wk9-Lecture', 'Wk10-CA / 1', 'Wk10-Lab', 'Wk10-Lecture', 'Wk11-CA / 1', 'Wk11-Lab', 'Wk11-Lecture', 'Wk12-CA3', 'Wk12-Lecture', 'Wk15-Lecture']

In [13]:
module7og.dtypes

ID number                object
First Name               object
Surname                  object
Total CA Mark / 100     float64
Final Grade              object
CA1 Report / 20         float64
CA2 Lab Test / 35       float64
CA3 Theory Test / 35    float64
Labs CA / 10            float64
Wk1-Lab                  object
Wk1-Lecture              object
Wk2-CA / 1                int64
Wk2-Lab                  object
Wk2-Lecture              object
Wk3-CA / 1              float64
Wk3-Lab                  object
Wk3-Lecture              object
Wk4-CA / 1                int64
Wk4-Lab                  object
Wk4-Lecture              object
Wk5-CA / 1.5            float64
Wk5-Lab                  object
Wk5-Lecture              object
Wk6-CA / 1              float64
Wk6-Lab                  object
Wk6-Lecture              object
Wk7-CA / 1              float64
Wk7-Lab                  object
Wk7-Lecture              object
Wk8-CA / 1.5            float64
Wk8-Lab                  object
Wk8-Lecture              object
Wk9-CA2                  object
Wk9-Lecture              object
Wk10-CA / 1             float64
Wk10-Lab                 object
Wk10-Lecture             object
Wk11-CA / 1             float64
Wk11-Lab                 object
Wk11-Lecture             object
Wk12-CA3                 object
Wk12-Lecture             object
Wk15-Lecture             object
dtype: object

In [14]:
m7og = module7og

In [15]:
#Cleanup7OG

In [16]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk1-Lecture'] = m7og['Wk1-Lecture'].replace({'N': 0 , 'Y': 1})

In [17]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk2-Lecture'] = m7og['Wk2-Lecture'].replace({'N': 0 , 'Y': 1})

In [18]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk3-Lecture'] = m7og['Wk3-Lecture'].replace({'N': 0 , 'Y': 1})

In [19]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk4-Lecture'] = m7og['Wk4-Lecture'].replace({'N': 0 , 'Y': 1})

In [20]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk5-Lecture'] = m7og['Wk5-Lecture'].replace({'N': 0 , 'Y': 1})

In [21]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk6-Lecture'] = m7og['Wk6-Lecture'].replace({'N': 0 , 'Y': 1})

In [22]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk7-Lecture'] = m7og['Wk7-Lecture'].replace({'N': 0 , 'Y': 1})

In [23]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk8-Lecture'] = m7og['Wk8-Lecture'].replace({'N': 0 , 'Y': 1})

In [24]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk9-Lecture'] = m7og['Wk9-Lecture'].replace({'N': 0 , 'Y': 1})

In [25]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk10-Lecture'] = m7og['Wk10-Lecture'].replace({'N': 0 , 'Y': 1})

In [26]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk11-Lecture'] = m7og['Wk11-Lecture'].replace({'N': 0 , 'Y': 1})

In [27]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk12-Lecture'] = m7og['Wk12-Lecture'].replace({'N': 0 , 'Y': 1})

In [28]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk15-Lecture'] = m7og['Wk15-Lecture'].replace({'N': 0 , 'Y': 1})

In [29]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk1-Lab'] = m7og['Wk1-Lab'].replace({'N': 0 , 'Y': 1})

In [30]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk2-Lab'] = m7og['Wk2-Lab'].replace({'N': 0 , 'Y': 1})

In [31]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk3-Lab'] = m7og['Wk3-Lab'].replace({'N': 0 , 'Y': 1})

In [32]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk4-Lab'] = m7og['Wk4-Lab'].replace({'N': 0 , 'Y': 1})

In [33]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk5-Lab'] = m7og['Wk5-Lab'].replace({'N': 0 , 'Y': 1})

In [34]:
# Replace 'no' with 0 and 'yes' with 1 in 'W6-Lecture'  in Module 7

m7og['Wk6-Lab'] = m7og['Wk6-Lab'].replace({'N': 0 , 'Y': 1})

In [35]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk7-Lecture'  in Module 7

m7og['Wk7-Lab'] = m7og['Wk7-Lab'].replace({'N': 0 , 'Y': 1})

In [36]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk8-Lecture'  in Module 7

m7og['Wk8-Lab'] = m7og['Wk8-Lab'].replace({'N': 0 , 'Y': 1})

In [37]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk9-Lecture'  in Module 7

m7og['Wk9-CA2'] = m7og['Wk9-CA2'].replace({'N': 0 , 'Y': 1})

In [38]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk10-Lab'] = m7og['Wk10-Lab'].replace({'N': 0 , 'Y': 1})

In [39]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk11-Lab'] = m7og['Wk11-Lab'].replace({'N': 0 , 'Y': 1})

In [40]:
# Replace 'no' with 0 and 'yes' with 1 in 'Wk1-Lecture'  in Module 7

m7og['Wk12-CA3'] = m7og['Wk12-CA3'].replace({'N': 0 , 'Y': 1})

In [41]:
m7og.head(2)

,ID number,First Name,Surname,Total CA Mark / 100,Final Grade,CA1 Report / 20,CA2 Lab Test / 35,CA3 Theory Test / 35,Labs CA / 10,Wk1-Lab,...,Wk9-Lecture,Wk10-CA / 1,Wk10-Lab,Wk10-Lecture,Wk11-CA / 1,Wk11-Lab,Wk11-Lecture,Wk12-CA3,Wk12-Lecture,Wk15-Lecture
0,tzCYvQBD,azCY,bvQB,71.850,B+,8.8,27.650,25.40,10.00,1,...,1,1.0,1,1,1.00,1,1,1,1,1
1,FjdRQnjO,ajdR,bQnj,89.885,A,16.2,30.975,33.05,9.66,1,...,1,1.0,1,1,0.66,1,1,1,1,1

In [42]:
m7og_subset = m7og